@import 'components/global';
@import 'components/header';
@import 'components/table';
@import 'components/node';
@import 'components/comment';

body {
  font-family: 'THSarabunNew';
  font-size: 20px;
}
body .block {
  padding-bottom: 20px;
}
body.path-frontpage .page-header {
  display: none;
}

#navbar {
  margin-bottom: 0px;
}
#navbar .region-navigation {
  padding-left: 20px;
}
#navbar .region-navigation .logo {
  padding-right: 0px;
}
#navbar .region-navigation .logo img {
  width: 32px;
}
#navbar .region-navigation-collapsible .logo {
  padding-right: 0px;
}
#navbar .region-navigation-collapsible .logo img {
  width: 32px;
}

#slideshow {
  background-color: #fac960;
  color: #8a6d2f;
}

table {
  width: 100%;
  margin: 20px 0;
}
table thead tr th {
  padding: 20px;
  background-color: #454C53;
  color: #fff;
}
table tbody tr {
  border-bottom: 2px solid #fff;
}
table tbody tr.odd {
  border-bottom: 2px solid #E5E5E5;
}
table tbody tr td {
  padding: 20px;
}

td, th {
  background: #eaeae1;
  border: none;
  padding: 0.5rem;
}

tr.odd {
  background-color: white;
}
tr.odd td {
  background-color: white;
}

.page-node-type-forum .content .field--name-body {
  padding-bottom: 20px;
}

.comment h2 {
  font-size: 1.538em;
  font-weight: normal;
  line-height: 1.35em;
  margin: 0.9em 0 0.45em;
}
.comment .js-comment {
  border-top: 1px solid gainsboro;
  margin-top: 0.692em;
  padding-top: 0.692em;
}
.comment .js-comment h3 {
  font-weight: bold;
  font-size: 1.231em;
  line-height: 1.6875em;
  margin: 0 0 0.5625em;
}
