.comment{
   h2{
   	  font-size: 1.538em;
      font-weight: normal;
      line-height: 1.35em;
      margin: 0.9em 0 0.45em;
   }
	.js-comment{
	  border-top: 1px solid gainsboro;
	  margin-top: 0.692em;
	  padding-top: 0.692em;
	  h3{
	  	font-weight: bold;
	    font-size: 1.231em;
	    line-height: 1.6875em;
	    margin: 0 0 0.5625em;
	  }
	}
}