body{
	font-family: 'THSarabunNew';
	font-size: 20px;
	h1{
		font-size: 2.62vw;
	}
	// h2{
	// 	font-size: 24px;
	// }
	// h3{
	// 	font-size: 22px;
	// }
	// h4{
	// 	font-size: 20px;
	// }
	// h5,h6{
	// 	font-size: 18px;
	// }
	.block{
		padding-bottom: 20px;
	}
	&.path-frontpage{
		.page-header{
			display: none;
		}
	}
}