#navbar{
	margin-bottom: 0px;
	.region-navigation{
		padding-left: 20px;
		.logo{
			padding-right:0px;
			img{
				width: 32px;
			}
		}
	}
	.region-navigation-collapsible{
		.logo{
			padding-right:0px;
			img{
				width: 32px;
			}
		}
	}
}

#slideshow{
	background-color: #fac960;
	color: #8a6d2f;
}