table {
	  width: 100%;
	  margin: 20px 0;
	  thead{
	  	tr{
	  		th{
	  			padding:20px;
					background-color: #454C53;
					color:#fff;
	  		}
	  	}
	  }
	  tbody{
	  	tr{
	  		border-bottom: 2px solid #fff;
	  		&.odd{
	  		border-bottom: 2px solid #E5E5E5;
	  		}
	  		td{
	  			padding:20px;
	  		}
	  	}
	  }
	}
	td, th {
	  background: #eaeae1;
	  border: none;
	  padding: 0.5rem;
	}
	tr.odd{
	  	background-color: white;
	  	td{
	  		background-color: white;
	  	}
	}